// fonts


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$ubuntu: 'Ubuntu', sans-serif;

// sass variables
$pink: #a8328b;
$blue: #383391;
$green: #1aed41;

// css rules
h1 {
  color: $pink;
  font-family: $ubuntu;
}

h3 {
  color: $green;
}

.box-body {
  background-bg: $blue;
}