@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
h1 {
  color: #a8328b;
  font-family: "Ubuntu", sans-serif;
}

h3 {
  color: #1aed41;
}

.box-body {
  background-bg: #383391;
}
